<button class="open-button" onclick="openForm()"><i class="fas fa-comments" tolltip="Get In Touch"></i> Chat Us</button>
<div class="scroll">
    <div class="chat-popup" id="myForm">
    <form action="" class="form-container">
        <img src="https://images-na.ssl-images-amazon.com/images/I/81E0VRuY5IL.png" alt="img1" style="width:100%;">
        <h2>Angular</h2>
     <app-notifications></app-notifications>

        <textarea placeholder="type your message........" name="msg" id=""></textarea>
        <button type="submit" class="btn"> <i class="fas fa-paper-plane"></i> Send</button>
        <button type="button" class="btn cancel" onclick="closeForm()"> <i class="far fa-window-close"></i> Close</button>
    </form>
    </div>
</div>