<div class="body">
    <!-- <img src="https://images-na.ssl-images-amazon.com/images/I/81E0VRuY5IL.png" alt="img1" style="width:100%;">
    <h2>Angular</h2> -->
    <div class="body-msg">
        <div class="container">
            <img src="https://images-na.ssl-images-amazon.com/images/I/81E0VRuY5IL.png" alt="img1" style="width:100%;">
            <p>Hello... How r u?</p>
            <span class="time-right">11:03</span>
        </div>
        <div class="container darker">
            <img src="https://images-na.ssl-images-amazon.com/images/I/81E0VRuY5IL.png" alt="img2" class="right" style="width:100%;">
            <p class="img2-msg">Hey! I'm fine. Thanks for asking!</p>
            <span class="time-left">11:04</span>
        </div> 


    </div>
</div>
